#header {
	height: 77px;
}

#nav ul{
	left: 0em;
}

#menu {
	position: relative;
	z-index: 1000;
}

#nav li ul {
	margin-top: -6px;
}

#nav li ul ul {
	left:12em;
}

#content .features-row {
	margin-bottom: 0px;
}

#featured div img {
	height: 80px;
	margin-bottom: -10px;
}

#add-comment textarea {
	width: 420px;
}

#content.full .maincontent {
	margin-right: 0px;
	padding-right: 0px;
}

#wp125adwrap_2c div.wp125ad {
	padding: 0px;
}